.cart-dropdown {
  position: absolute;
  top: 80px;
  right: 0;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  z-index: 5;
  padding: 20px;

  .cart-items {
    display: flex;
    width: 240px;
    flex-direction: column;
    overflow-y: scroll;
    margin-bottom: 20px;
  }

  .button {
    margin-top: auto;
  }
}
